/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  width: 800px;
  height: 100%;
  font-size: 62.5%;
}
/* variables */
/* mixins */
.button-color {
  background-color: #808080;
  color: white;
}
.flex-display {
  display: flex;
  flex-wrap: wrap;
}
/* top nav bar */
#top-header {
  margin: 2px auto;
  width: 90%;
  background-color: #d9d9d9;
  /* end of nav */
}
#top-header nav {
  display: flex;
  justify-content: flex-end;
  /* end of a */
}
#top-header nav a {
  font-family: 'Sansita', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 1% 3%;
}
/* end of top header  */
/* Photo and name content */
#header-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  border-bottom: 1px solid #d9d9d9;
  /* end of header div */
}
#header-container .header-photo {
  width: 50%;
}
#header-container .header-photo img {
  width: 80%;
}
#header-container div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 50%;
  margin: 5px auto;
  /* end of h1 */
  /* end of h2 */
  /* end of p */
  /* end button */
}
#header-container div h1 {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}
#header-container div h3 {
  font-size: 2rem;
  font-family: 'Sansita', sans-serif;
}
#header-container div p {
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
}
#header-container div .button {
  padding: 10px 20px;
  margin: 3px auto;
  border: 1px solid black;
  background-color: #808080;
  color: white;
  border-radius: 20px;
}
/* end of header container */
/* middle content */
#mid-content {
  width: 90%
	margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}
#mid-content div {
  width: 50%;
  background-color: #d9d9d9;
  justify-content: center;
  text-align: center;
}
#mid-content h3 {
  font-size: 1.5rem;
  font-family: 'Sansita', sans-serif;
}
#mid-content p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
}
/* end of mid content */
/* bottom contend */
#bottom-content {
  width: 90%;
  margin: 10px auto;
  padding: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#bottom-content div h3 {
  width: 90%;
  font-size: 1.5rem;
  font-family: 'Sansita', sans-serif;
  justify-content: center;
}
#bottom-content th,
#bottom-content td {
  border: 1px solid black;
  padding: 0.25em;
  text-align: center;
  width: auto;
}
/* end of bottom content */
/* footer */
#footer-content {
  width: 90%;
  margin: 10px auto;
  background-color: #d9d9d9;
}
